@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Para a imagem ficar no meio da tela, foi colocada a posição do main relativa, a da section escolhida absoluta, e como o top 50% e left 50% deixa a imagem começando no centro, foi preciso transformar em -50% -50%*/
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img { /*OU section#redes-sociais > a > img*/
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*Transforma a imagem quadrada em um círculo*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /*Para a borda fazer parte da caixa, assim no img:hover quando passa o mouse em uma imagem a outra não mexe junto*/
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.642); /*Coloca a borda branca quando passa o mouse em cima*/
    transform: translate(-3px, -3px); /*A imagem se move um pouco, dando o efeito de estar pulando*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616); /*Aumentando um pouco a sombra quando a imagem levanta*/
    transition: transform 0.3s, border 1s; /*Cria uma transição, nesse caso fazendo com que o transform aconteça em 0.3s e o border em 1s */
}